.navbar.navbar-inverse.navbar-fix#sticky-navbar
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-1")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse#navbar-1
      %ul.nav.navbar-nav
        %li{:class=>"#{'active' if page.output_path.start_with?('/index') }" }<
          %a(href="#{site.base_url}/index.html") Home
        %li{:class=>"#{'active' if page.output_path.start_with?('/downloads') }" }<
          %a(href="#{site.base_url}/downloads.html") Downloads
        %li{:class=>"#{'active' if page.output_path.start_with?('/docs') }" }<
          %a(href="#{site.base_url}/docs.html") Docs
        %li.dropdown
          %a.dropdown-toggle(href="#" data-toggle="dropdown")<
            = precede 'Community ' do
              %b.caret>
          %ul.dropdown-menu
            %li<
              %a(href="https://stackoverflow.com/questions/tagged/byteman") Questions (via stackoverflow)
            %li<
              %a(href="https://community.jboss.org/en/byteman") User Forum (read only)
            %li<
              %a(href="https://community.jboss.org/en/byteman/dev") Developer Forum (read only)
            %li<
              %a(href="irc://irc.libera.chat/#byteman") IRC Chat
            %li<
              %a(href="http://bytemanblog.blogspot.co.uk/") Blog
        %li{:class=>"#{'active' if page.output_path.start_with?('/issues') }" }<
          %a(href="https://issues.jboss.org/browse/BYTEMAN/issues") Issues
        %li.dropdown
          %a.dropdown-toggle(href="#" data-toggle="dropdown")<
            = precede 'Source ' do
              %b.caret>
          %ul.dropdown-menu
            %li<
              %a(href="http://github.com/bytemanproject/byteman") GitHub
            %li<
              %a(href="https://source.jboss.org/browse/Byteman") FishEye
        %li.divider

      %form.navbar-form.navbar-right
        %input.form-control(type="text" placeholder="Search")

= breadcrumb(page.real_page.output_path)
